/** CUSTOM PROPIERTIES */
:root {
    --darkBlue: #031926;
    --lightWhite: #F7F9F7;
    --lightGray: #E8E8E8;
    --ligtBlue: #19A5F8;
    --darkBlueBtn: #188acd;
    --paragrahGray: #7B7D7B;
    --listGray: #747474;
}

html {
    box-sizing: border-box;/** Mantener los contenedores del mismo tamaño */
}

*,*:before,*:after {
    box-sizing: inherit;
}

/** Globales*/
body {
    background-color: var(--darkBlue);
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: black;
}

h6 {
    margin:0.8rem 0px 0px 0px;
    font-size: 0.8rem;
    font-weight: 800;
    font-size: 12px;
}

h3 {
    font-weight: 900;
    margin: 0;
}

ul {
    list-style: circle;
    padding: 0px;
    margin: 0.2rem 0 0 0;
}

li {
    text-transform:capitalize;
    margin-left: 25px;
    list-style: circle;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

p {
    font-weight: 300;
    font-size: 12px;
    line-height:15px;
}

h1,h2,h3,h4,h6{
    text-transform: capitalize;
}

/** Secciones */
.container {
    max-width: 120rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightWhite);
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 1.5rem 2.3rem 0.4rem 2.3rem;
 }

@media (min-width: 760px) {
    .form {
        width: 536px;
    }
}

.form_img {
    width: 257px;
    height: 103px;
    position: absolute;
    top: -60px;
}

.form_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
}

.form_paragraph {
   /* color: var(--paragrahGray);
    font-size: 0.9rem;*/
    margin: 0.4rem auto  0 auto;
}

.form_content {
    width: 100%;
}

li:marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.form_section {
    margin-top: 0.4rem;
    display: flex;
    gap: 0.3rem;
    margin-bottom: 10px;
    align-items: center;
    justify-content:space-between;

}

.form_search h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0.3rem;
    margin-top: 0;
}


.form_search{
    width: 100%
    
}

.text-input:active{
    background-color: var(--lightGray);
}

.form_input,form_input:focus {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--lightGray);
}






select {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border:none;
    
}

select:hover,select:focus {
  background-color:var(--lightGray);
}

select option {
    background-color:var(--lightGray);
    border:none;
    appearance: none;

}

.form_buttons {
    margin: 1.5rem 0 0.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    outline: none;
    border: none;
    color: var(--lightWhite);
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */   
}

.btn-sumit {
    background-color: var(--ligtBlue);
    cursor: pointer;

}

.btn-limpiar {
    visibility: hidden;
}

/** Card with Information of Pokemon*/
.card {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#pokemon-finder-response{
    display:none;
}

.card h3{
    text-transform: capitalize;
    margin-bottom:0.4rem;
}


/** Card with ability of Pokemon*/
.card2 {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    display: none;
    /*Tarjeta N2*/
}

.container_information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-bottom: 0.9rem;
}

.card2 h6 {
    margin-bottom: 0;
}

.card2 ul {
    margin-bottom: 0;
}

.container_img {
    position: relative;
}

.container_img-solapada{
    position: absolute;
    right: 80px;
    transition:ease-in-out 100ms;
}


@media (min-width: 768px) {
    .container_img-solapada{
        position: absolute;
        right: 137px;
        transition:ease-in-out 100ms;
    }    
}

.parrafo_info{
    margin-top:0.2rem;
}

.abilities_card span{
    margin: 0 auto;
}


.abilities_card_2 span{
    margin-left: 0.2rem;
}

@media (min-width: 768px) {
    .abilities_card_2 svg{
        right: 81px;
    }
    
}

.abilities_ul{
    margin-bottom: 1.8rem;
}
